{% extends 'base.html' %}

{% block head %}
<title>About-IEEE Parking Software</title>
{% endblock %}

{% block body %}
<h3>Team Members: </h3>
<h6>Description: Our project focuses on tracking the movement of cars in parking garages at KU to count the number of parking spots available on each level. We accomplish this by using ultrasonic sensors and ESP8266 boards to record the data and a raspberry pi to send data to the web server. This website displays the number of total parking spots on each level using counters and a dynamic chart. Currently we are trying get permission to set up this system in the Central District Parking Garage at KU.</h6>
<h5>Parts:</h5>
<ul>
    <li>Ultrasonic Distance Sensor (HC-SR04)</li>
    <li></li>
</ul>
{% endblock %}