<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="static/style.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown">
                    <a id=""dropbut>Counters</a>
                    <div class="drop-content">
                        <a href="#">Level 1</a>
                        <a href="#">Level 2</a>
                        <a href="#">Level 3</a>
                        <a href="#">Level 4</a>
                    </div>
                </li>
                <li><a href="#">Game Dates</a></li>
              </ul>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>