{% extends 'base.html' %}

{% block head %}
<title>Game Dates- IEEE Parking Software</title>
{% endblock %}

{% block body %}
<table class="games">
    <tr>2024</tr>
    <tr>
        <td>Date</td>
        <td>Weekday</td>
        <td>Time (reservation starts about 4 hrs before)</td>
    </tr>
    <tr>
        <td>12/14</td>
        <td>Saturday</td>
        <td>2:15pm</td>
    </tr>
    <tr>
        <td>12/22</td>
        <td>Sunday</td>
        <td>2:00pm</td>
    </tr>
    <tr>2025</tr>
    <tr>
        <td>1/8</td>
        <td>Wednesday</td>
        <td>8:00pm</td>
    </tr>
    <tr>
        <td>1/18</td>
        <td>Saturday</td>
        <td>12:00pm</td>
    </tr>
    <tr>
        <td>1/25</td>
        <td>Saturday</td>
        <td>5:30pm</td>
    </tr>
    <tr>
        <td>1/28</td>
        <td>Tuesday</td>
        <td>7:00pm</td>
    </tr>
    <tr>
        <td>2/3</td>
        <td>Monday</td>
        <td>8:00pm</td>
    </tr>
    <tr>
        <td>2/11</td>
        <td>Tuesday</td>
        <td>8:00pm</td>
    </tr>
    <tr>
        <td>2/22</td>
        <td>Saturday</td>
        <td>3:00pm</td>
    </tr>
    <tr>
        <td>3/1</td>
        <td>Saturday</td>
        <td>1:00pm</td>
    </tr>
    <tr>
        <td>3/8</td>
        <td>Saturday</td>
        <td>3:00pm</td>
    </tr>
</table>
{% endblock %}