{% extends 'base.html' %}

{% block head %}
    <title>IEEE Parking Software</title>
    <link rel="stylesheet"  href="static/style.css">
{% endblock %}
{% block body %}
    <div>
        <a href="#">Home</a>
        <a href="#">About</a>
        <div>
            <button>Counters</button>
            <div>
                <a href="#">Level 1</a>
                <a href="#">Level 2</a>
                <a href="#">Level 3</a>
                <a href="#">Level 4</a>
            </div>
        </div>
        <a href="#">Game Dates</a>
    </div>
    <div><h1>Number of remaining parking spots: <span id="number"></span></h1></div>
    <script src="static/script.js"></script>
{% endblock %}