{% extends 'base.html' %}

{% block head %}
    <title>IEEE Parking Software</title>
{% endblock %}
{% block body %}
  <br>
  <div class = "buttons">
    <button><a href="#level1"><image src="https://i.postimg.cc/JHHQ85P8/redcar.png"></image></a></button>
    <button><a href="#level2"><image src="https://i.postimg.cc/9DdJz1VF/bluecar.png"></image></a></button>
    <button><a href="#level3"><image src="https://i.postimg.cc/TL4cB4jQ/orangecar.png"></image></a></button>
    <button><a href="#level4"><image src="https://i.postimg.cc/Z9JjN3KP/greencar.png"></image></a></button>
    <button><a href="#moped"><image src="https://i.postimg.cc/gXJDSWhn/moped.png"></image></a></button>
  </div>
    <div>
      <table class="counts">
        <tr>
          <th>Space Type</th>
          <th>Number of Spaces</th>
        </tr>
        <tr>
          <td class="one" id="level1">Level 1</td>
          <td class="two"><span id="level1_parking"></span></td>
        </tr>
        <tr>
          <td class="one" id="level2">Level 2</td>
          <td class="two"><span id="level2_parking"></span></td>
        </tr>
        <tr>
          <td class="one" id="level3">Level 3</td>
          <td class="two"><span id="level3_parking"></span></td>
        </tr>
        <tr>
          <td class="one" id="level4">Level 4</td>
          <td class="two"><span id="level4_parking"></span></td>
        </tr>
        <tr>
          <td class="one" id="hand">Handicap</td>
          <td class="two"><span id="handicap_parking"></span></td>
        </tr>
        <tr>
          <td class="one" id="moped">Motorcycle</td>
          <td class="two"><span id="motorcycle_parking"></span></td>
        </tr>
      </table>
    </div>
    <div class="chart-cont">
      <canvas id="blue"></canvas>
    </div>
    <script src="/static/script.js"></script>
{% endblock %}
