{% extends 'index.html' %}

{% block head %}
    <title>IEEE Parking Software - Level 3</title>
    <link rel="stylesheet"  href="../static/style.css">
{% endblock %}
{% block body %}
    <div>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <h1>Level 3</h1>
        <div>
            <div>
                <h2>Number of open parking spots: <span id="level3_parking"></span></h2>
            </div>
        </div>
        <a href="level1.html">Level 1</a>
        <a href="level2.html">Level 2</a>
        <a href="level4.html">Level 4</a>
        <a href="game_dates.html">Game Dates</a>
    </div>
    <script src="../static/script.js"></script>
{% endblock %}